html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#navbar  .nav-link.active {
    text-decoration: underline;
    text-decoration-color: cadetblue;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
}

.bg-light-2 {
    background-color: #E8ECEF;
}

.title-header-text {
    font-size: 10rem;
}

.title-header-text-under {
    font-size: 2rem;
}

.bread.divider {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
}

body.swal2-height-auto {
    height: 100%!important;
}
